.cartContainer {
  max-width: 1300px;
  margin: auto;
}

.cartContainer hr {
  height: 8px;
  background: #7b6666;
}

.cartWindow {
  max-width: 1000px;
  margin: auto;
}

.cartTotal {
  text-align: right;
  float: right;
}

.info h1 {
  font-size: 25px;
  font-weight: normal;
  display: inline-block;
}
