.cartItem {
  width: 220px;
  display: inline-block;
  margin: 10px;
}
.cartItem img {
  display: block;
  margin: auto;
}

.cartItemInfo {
  position: relative;
  width: 220px;
  margin: auto;
  padding-bottom: 20px;
}
.cartItemInfo p {
  text-align: center;
  margin: 5px auto 5px auto;
  font-size: 15px;
}

.priceText {
  font-weight: bold;
}
.cartItemInfo button {
  display: block;
  margin: 10px auto auto auto;
  border: none;
  background-color: white;
  text-decoration: underline;
}
